/* Header */
header {
    background-color: #fff;
  }
  
  /* Body */
  .area{
    background-color: #C4C4C4;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 300px;
    padding: 5px;
    background-color: #fff;
    align-items: center;
  }
  
  p {
    color: #282828;
  }
  
  .card-title {
    font-size: 14px;
  }
  
  .card__description {
    font-size: 12px;
  }
  
  img {
    width: 288px;
    height: 182px;
    margin-bottom: 5px;
  }
  
  /* Footer */
  footer {
    background-color: #fff;
  }
  